<main>
  <style>
  img{
	border-radius: 15%;
	padding-bottom: 20px;
	}
  </style>
  <h1>About me</h1>    
  <p><b>Mihail Beshkov</p>
  <p>Business Managment and Information Systems</p>
  <p>ID: 51984642</b></p>
  <img src="img/mihail_beshkov.jpg" width = "550" height = "350">
  <form action="/">
    <input type="submit" value="Back">
  </form>
</main>
<footer>
</footer>