<main>
  <h1>Statistics</h1>    
  <p><b>Successful games: <%= read_wins %></b></p> <!-- Reads win counter from file -->
  <p><b>Failures: <%= read_loss %></b></p> <!-- Reads lose counter from file -->
  <p>Recently <%= read_actions %></p> <!-- Reads user activity from file -->
  <form action="/">
    <input type="submit" value="Back">
  </form>
</main>
<footer>
</footer>