<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>A game of life and death</h1>
<h2>Do you have what it takes?</h2>

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/play">Give me a challenge!</a>
    <a href="/rules">What do I have to do?</a>
    <a href="/about">Who are you, anyway?</a>
	<a href="/analysis">Can you analyse me?</a>
  </div>
</div>

</body>
</html>