<main>
  <h1>How to play</h1>    
  <p><b>You have to guess a secret word, one letter at a time.<br>
  For each letter you guess correctly, you get one step closer to success.<br>
  However, for each letter you guess wrong... bad things will happen to your fella.<br>
  You have 6 chances to make a mistake, after that, I don't answer for my actions.<br>
  You can also try to guess the whole word at once if you feel clever.<br>
  Just don't try to be cheeky by giving me empty or repeating letters. I will be on the lookout!</b><br>
  </p>
  <form action="/">
    <input type="submit" value="Back">
  </form>
</main>
<footer>
</footer>