<main>
  <audio src="/mp3/win.mp3" autoplay>
	<p>If you are reading this, it is because your browser does not support the audio element.</p>
  </audio>
  <h1>You did it!</h1>  
  <img src="<%= picture %>" alt="hangman">
  <pre><%= reveal_secret %></pre> <!-- Shows what the word was all along. (completed template) -->
  <form action="/">
    <input type="submit" value="YAY!">
  </form>  
</main>